<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjercicioClasesVista"
        tools:targetApi="31">
        <activity

            android:name=".PrimerAplicacion.PorfolioActivity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.Porfolio2Activity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.IMCActivity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.CalculadoraActivity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.SaludoVersion2_2Activity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.SaludoVersion2Activity"
            android:exported="false" />
        <activity
            android:name=".Ejericio1Activity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.BotonesActivity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.SolutionActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicio5Activity"
            android:exported="false" />
        <activity
            android:name=".Ejercicio4Activity"
            android:exported="false" />
        <activity
            android:name=".Ejercicio3Activity"
            android:exported="false" />
        <activity
            android:name=".Ejercicio2Activity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.MainActivity"
            android:exported="false" />
        <activity
            android:name=".PrimerAplicacion.ProbarActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>